body {
  width: 50px;
  margin: auto;
  text-align: center;
  background: white;
}
.flow {
  display: block;
  position: relative;
}
.pet {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 90px;
  cursor: pointer;
  border-radius: 10px 500px;
  box-shadow: 2px 2px 8px rgba(246, 246, 246, 0.3);
  box-shadow: inset 10px 20px 10px rgba(255, 255, 255, 0.12);
  -webkit-transform-origin: 0 0.5%;
  -moz-transform-origin: 0 0.5%;
  -ms-transform-origin: 0 0.5%;
  -o-transform-origin: 0 0.5%;
  -webkit-transition: all 1.25s ease;
  -moz-transition: all 1.25s ease;
  -o-transition: all 1.25s ease;
  -ms-transition: all 1.25s ease;
  transition: all 1.25s ease;
  border-top: 2px solid #ffffff;
}
.pet:hover {
  opacity: 0.6;
}
.p1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  /* fallback */
  background-color: transparent;
  background-position: 70% 45%;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 70% 45%, 0, 80% 40%, 100, from(rgba(155, 212, 238, 0.7)), to(#1578ab));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, rgba(155, 212, 238, 0.7), #1578ab);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, rgba(155, 212, 238, 0.7), #1578ab);
  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, rgba(155, 212, 238, 0.7), #1578ab);
  /* Opera cannot do radial gradients yet */
  z-index: 1;
}
.p2 {
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  -o-transform: rotate(75deg);
  /* fallback */
  background-color: transparent;
  background-position: 70% 45%;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 70% 45%, 0, 80% 40%, 100, from(rgba(186, 210, 237, 0.7)), to(#0141b2));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, rgba(186, 210, 237, 0.7), #0141b2);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, rgba(186, 210, 237, 0.7), #0141b2);
  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, rgba(186, 210, 237, 0.7), #0141b2);
  /* Opera cannot do radial gradients yet */
  z-index: 2;
}
.p3 {
  -webkit-transform: rotate(105deg);
  -moz-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  -o-transform: rotate(105deg);
  /* fallback */
  background-color: transparent;
  background-position: 70% 45%;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 70% 45%, 0, 80% 40%, 100, from(rgba(149, 126, 190, 0.7)), to(#5e3aa4));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, rgba(149, 126, 190, 0.7), #5e3aa4);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, rgba(149, 126, 190, 0.7), #5e3aa4);
  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, rgba(149, 126, 190, 0.7), #5e3aa4);
  /* Opera cannot do radial gradients yet */
  z-index: 3;
}
.p4 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  /* fallback */
  background-color: transparent;
  background-position: 70% 45%;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 70% 45%, 0, 80% 40%, 100, from(rgba(180, 143, 189, 0.7)), to(#9c68a6));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, rgba(180, 143, 189, 0.7), #9c68a6);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, rgba(180, 143, 189, 0.7), #9c68a6);
  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, rgba(180, 143, 189, 0.7), #9c68a6);
  /* Opera cannot do radial gradients yet */
  z-index: 4;
}
.p5 {
  -webkit-transform: rotate(165deg);
  -moz-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
  -o-transform: rotate(165deg);
  /* fallback */
  background-color: transparent;
  background-position: 70% 45%;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 70% 45%, 0, 80% 40%, 100, from(rgba(207, 119, 157, 0.7)), to(#af3269));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, rgba(207, 119, 157, 0.7), #af3269);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, rgba(207, 119, 157, 0.7), #af3269);
  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, rgba(207, 119, 157, 0.7), #af3269);
  /* Opera cannot do radial gradients yet */
  z-index: 5;
}
.p6 {
  -webkit-transform: rotate(195deg);
  -moz-transform: rotate(195deg);
  -ms-transform: rotate(195deg);
  -o-transform: rotate(195deg);
  /* fallback */
  background-color: transparent;
  background-position: 70% 45%;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 70% 45%, 0, 80% 40%, 100, from(rgba(238, 145, 179, 0.7)), to(#e84d89));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, rgba(238, 145, 179, 0.7), #e84d89);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, rgba(238, 145, 179, 0.7), #e84d89);
  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, rgba(238, 145, 179, 0.7), #e84d89);
  /* Opera cannot do radial gradients yet */
  z-index: 6;
}
.p7 {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  /* fallback */
  background-color: transparent;
  background-position: 70% 45%;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 70% 45%, 0, 80% 40%, 100, from(rgba(249, 98, 105, 0.7)), to(#cf1d1d));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, rgba(249, 98, 105, 0.7), #cf1d1d);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, rgba(249, 98, 105, 0.7), #cf1d1d);
  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, rgba(249, 98, 105, 0.7), #cf1d1d);
  /* Opera cannot do radial gradients yet */
  z-index: 7;
}
.p8 {
  -webkit-transform: rotate(255deg);
  -moz-transform: rotate(255deg);
  -ms-transform: rotate(255deg);
  -o-transform: rotate(255deg);
  /* fallback */
  background-color: transparent;
  background-position: 70% 45%;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 70% 45%, 0, 80% 40%, 100, from(rgba(246, 184, 121, 0.7)), to(#f18d40));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, rgba(246, 184, 121, 0.7), #f18d40);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, rgba(246, 184, 121, 0.7), #f18d40);
  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, rgba(246, 184, 121, 0.7), #f18d40);
  /* Opera cannot do radial gradients yet */
  z-index: 8;
}
.p9 {
  -webkit-transform: rotate(285deg);
  -moz-transform: rotate(285deg);
  -ms-transform: rotate(285deg);
  -o-transform: rotate(285deg);
  /* fallback */
  background-color: transparent;
  background-position: 70% 45%;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 70% 45%, 0, 80% 40%, 100, from(rgba(254, 242, 139, 0.7)), to(#fedf49));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, rgba(254, 242, 139, 0.7), #fedf49);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, rgba(254, 242, 139, 0.7), #fedf49);
  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, rgba(254, 242, 139, 0.7), #fedf49);
  /* Opera cannot do radial gradients yet */
  z-index: 9;
}
.p10 {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  /* fallback */
  background-color: transparent;
  background-position: 70% 45%;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 70% 45%, 0, 80% 40%, 100, from(rgba(204, 237, 94, 0.7)), to(#9ac80c));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, rgba(204, 237, 94, 0.7), #9ac80c);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, rgba(204, 237, 94, 0.7), #9ac80c);
  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, rgba(204, 237, 94, 0.7), #9ac80c);
  /* Opera cannot do radial gradients yet */
  z-index: 10;
}
.p11 {
  -webkit-transform: rotate(345deg);
  -moz-transform: rotate(345deg);
  -ms-transform: rotate(345deg);
  -o-transform: rotate(345deg);
  /* fallback */
  background-color: transparent;
  background-position: 70% 45%;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 70% 45%, 0, 80% 40%, 100, from(rgba(129, 228, 47, 0.7)), to(#45b800));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, rgba(129, 228, 47, 0.7), #45b800);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, rgba(129, 228, 47, 0.7), #45b800);
  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, rgba(129, 228, 47, 0.7), #45b800);
  /* Opera cannot do radial gradients yet */
  z-index: 11;
}
.p12 {
  -webkit-transform: rotate(375deg);
  -moz-transform: rotate(375deg);
  -ms-transform: rotate(375deg);
  -o-transform: rotate(375deg);
  /* fallback */
  background-color: transparent;
  background-position: 70% 45%;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 70% 45%, 0, 80% 40%, 100, from(rgba(154, 209, 239, 0.7)), to(#72c1e8));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, rgba(154, 209, 239, 0.7), #72c1e8);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, rgba(154, 209, 239, 0.7), #72c1e8);
  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, rgba(154, 209, 239, 0.7), #72c1e8);
  /* Opera cannot do radial gradients yet */
  z-index: 0;
}
