.row.top-gap {
  margin-top: 20px;
}

.row.double-gap {
  margin-top: 40px;
}

#top-banner {
  position: relative;
  width: 100%;
  height: 325px;
  background: transparent no-repeat center center / cover;
  .transition(all, 0.3s, ease-out);
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    .border-gradient-left-to-right(0, 8px, 100%, #6b2b85, #f07721, #f6ea23);
  }
  &.color-trend-banner {
    background-image: url("../images/banner/banner-2.jpg");
  }
  &.color-palette-banner {
    background-image: url("../images/banner/banner-3.jpg");
  }
  &.painting-house-banner {
    background-image: url("../images/banner/banner-4.jpg");
  }
  &.painting-guide-banner {
    background-image: url("../images/banner/banner-5.jpg");
  }
  &.product-banner {
    height: 400px !important;
    background-image: url("../images/banner/product-banner.png");
  }
  &.lucky-painter {
    background-image: url("../images/banner/banner-7.jpg");
  }
  &.news-banner {
    background-image: url("../images/banner/banner-8.jpg");
  }
  &.paint-calculator-banner {
    background-image: url("../images/banner/banner-9.jpg");
  }
  &.nearest-agency-banner {
    background-image: url("../images/banner/banner-10.jpg");
  }
  &.contact-banner {
    background-image: url("../images/banner/banner-11.jpg");
  }
  @media (max-width: 599px) {
    height: 150px !important;
    &.product-banner {
      height: 150px !important;
    }

    &.lucky-painter {
      background-position: left center !important;
    }
  }
}

.galaxy-select {
  .dropdown-toggle {
    width: 100%;
    font-size: 13px;
    box-shadow: none;
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      position: absolute;
      right: 12px;
      top: 13px;
      border-top: 8px solid;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      vertical-align: middle;
    }
  }
  .btn-white {
    background-color: #fff;
    border-color: #adb8c1;
    color: @main-color;
    text-align: left;
    &:hover, &:focus {
      box-shadow: none;
    }
  }
  .btn-grey {
    background-color: @main-color;
    border-color: #d4dadf;
    color: #fff;
    text-align: left;
    .border-radius(0px);
    &:hover, &:focus {
      background-color: #fff;
      color: @main-color;
      box-shadow: none;
    }
  }
  .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    right: 0;
    font-size: 13px;
  }
}

.group-filter {
  margin: 10px 0;
  display: inline-block;
  width: 100%;
  .product-btn {
    background-color: white;
    color: hsl(208, 14%, 60%);
    .border-radius(4px);
    .text-uppercase {
      text-transform: inherit;
    }
  }
}

.galaxy-button {
  display: inline-block;
  .gradient(#bf1411, #f16e18);
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: white;
  padding: 6px 22px;
  border: none;
  .box-shadow(-1px, 1px, 2px, 0.8);
  .transition(all, 0.3s, ease-out);
  &:hover {
    .opacity(0.8);
  }
  &:focus {
    color: #fff !important;
  }
}

a.galaxy-button:hover {
  color: #fff;
}

.galaxy-prev, .galaxy-next {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  .gradient(#ee7421, #bf3315);
  cursor: pointer;
  > i {
    color: #fff;
    font-size: 16px;
    line-height: 32px;
  }
  &:hover {
    .opacity(0.8);
  }
}

.galaxy-line {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 7px;
    z-index: -1;
  }
  &.mix {
    &:before {
      .border-gradient-left-to-right(0, 6px, 100%, #6b2b85, #f07721, #f6ea23);
    }
  }
  &.discovery {
    &:before {
      .horizontal-gradient(#4e1464, #6b2b85);
    }
  }
  &.product {
    &:before {
      .horizontal-gradient(#bd341a, #f07721);
    }
  }
  &.news {
    &:before {
      .horizontal-gradient(#f4901e, #f6ea23);
    }
  }
}

.galaxy-title {
  display: inline-block;
  background-color: #fff;
  color: @main-color;
  font-size: 20px;
  font-weight: 700;
  padding-right: 20px;
}

.galaxy-heading {
  color: @main-color;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  &.horizontal-line {
    display: inline-block;
    background-color: #fff;
    padding-right: 20px;
  }
}

.galaxy-pagination {
  text-align: right;
  .pagination > li {
    display: inline-block;
    &:first-child, &:last-child {
      > a {
        .border-radius(0px);
      }
    }
    > a {
      color: #fff;
      background-color: @main-color;
      border: 1px solid #7e8e9e;
      font-weight: 700;
    }
    &.active > a, a:focus, a:hover {
      .horizontal-gradient(#f4901e, #f6ea23);
      border-color: #f8e676;
      font-weight: 700;
    }
  }
}

.galaxy-suggestion {
  position: relative;
  display: block;
  width: 100%;
  color: #fff;
  &.paint-calculator {
    .horizontal-gradient(#4e1464, #6b2b85);
  }
  &.color-blender {
    .horizontal-gradient(#bd341a, #f07721);
  }
  &.nearest-agency {
    .horizontal-gradient(#f4901e, #f6ea23);
  }
  &:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: -7px;
    left: -7px;
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(right, #f6ea23 0%, #6b2b85 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #f6ea23 0%, #6b2b85 100%);
    border-image: linear-gradient(to left, #f6ea23 0%, #6b2b85 100%);
    border-image-slice: 1;
  }
  &:hover, &:focus, &:active {
    color: #fff;
  }
  i {
    display: inline-block;
    float: left;
  }
  p {
    display: inline-block;
    color: #fff;
    white-space: nowrap;
  }
  span {
    display: block;
  }
  .large-text {
    font-family: @import-font;
  }

  @media (min-width: 1200px) {
    height: 185px;
    padding: 34px;
    i {
      width: 40%;
      font-size: 115px;
    }

    p {
      width: 48%;
      margin: 10% 0 0 10%;
    }

    .large-text {
      font-size: 40px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    height: 160px;
    padding: 34px 20px;
    i {
      width: 40%;
      font-size: 100px;
    }

    p {
      width: 48%;
      margin: 8% 0 0 10%;
    }

    .large-text {
      font-size: 34px;
    }
  }
  @media (min-width: 600px) and (max-width: 991px) {
    height: 140px;
    padding: 34px 20px;
    i {
      width: 40%;
      font-size: 80px;
      text-align: right;
    }

    p {
      width: 48%;
      margin: 6% 0 0 10%;
    }

    .large-text {
      font-size: 30px;
    }
  }
  @media (max-width: 599px) {
    height: 70px;
    padding: 13px 0 13px 12%;
    &:after {
      top: 3px !important;
      right: 3px !important;
      bottom: -3px !important;
      left: -3px !important;
    }

    i {
      display: none !important;
    }

    p {
      margin: 0;
    }

    .large-text {
      font-size: 24px;
    }
  }
}

#wrap {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
}

#iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 599px) {
  .galaxy-tool {
    > div:first-child {
      padding-right: 0 !important;
    }
    > div:nth-child(2) {
      padding: 0 8px !important;
    }
    > div:last-child {
      padding-left: 0 !important;
    }
  }
}

.galaxy-label {
  color: @main-color;
  font-weight: 700;
  line-height: 26px;
}

.divider {
  padding-bottom: 10px;
  border-bottom: 1px solid @main-color;
  &.bottom-gap {
    margin-bottom: 15px;
  }
}

.bottom-divider {
  border-bottom: 1px solid #b2bcc4;
  margin: 15px 0;
}

#bottom-nav {
  &.isLanding{
    display: none;
  }
  p {
    font-size: 11px;
    text-align: center;
  }
  ul {
    margin: 15px auto;
    > li {
      display: inline-block;
      padding: 0 20px;
      border-right: 1px solid @main-color;
      &:last-child {
        border: none;
      }
      > a {
        color: @main-color;
        font-weight: 600;
        text-transform: capitalize;
        &:hover {
          color: #7e8d9a;
        }
      }
    }
  }
}

.galaxy-btn-file {
  position: relative;
  overflow: hidden;
  background-color: @main-color;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border: 1px solid @main-color;
  .transition();
  &:hover {
    background-color: #fff;
    color: @main-color;
  }
  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    .opacity(0);
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

.block-content {
  position: relative;
  display: block;
  &.pink {
    background-color: @pink;
    h1 {
      color: @pink-text;
    }
  }
  &.blue {
    background-color: @blue;
    h1 {
      color: @blue-text;
    }
  }
  &.orange {
    color: @orange-text;
    background-color: @orange;
  }
  &.gray {
    color: #5a1d72;
    background-color: @gray;
  }
}

button.btn-purple {
  background-color: #8f318a;
  border-color: #8f318a;
  .border-radius(0);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 36px;
  .transform(translateZ(0));
  .backface-visibility();
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    .transform(scaleX(0));
    .transform-origin(0, 50%);
    .transition(transform, 0.5s, ease-out);
  }
  &:hover {
    color: #8f318a;
    &:before {
      .transform(scaleX(1));
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
}