#decor-page {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 30px;
  #painting-house {
    padding-top: 30px;
  }
  .decor-guide {
    p {
      margin: 0 0 10px;
    }
    .decor-guide-title {
      margin-bottom: 10px;
    }
    .decor-guide-img {
      margin: 30px 0;
    }
    .related-post h2 {
      margin-bottom: 10px;
    }
  }
  .related-post {
    border-left: 1px solid @main-color;
  }
  .image-wrapper img {
    width: 100%;
    margin-bottom: 15px;
  }
  .color-list {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    white-space: nowrap;
  }
  .color-board {
    display: inline-block;
    width: 9%;
    height: 80px;
    .border-radius(8px);
    margin-right: 0.8%;
    &.color-1 {
      background-color: @color-1;
    }
    &.color-2 {
      background-color: @color-2;
    }
    &.color-3 {
      background-color: @color-3;
    }
    &.color-4 {
      background-color: @color-4;
    }
    &.color-5 {
      background-color: @color-5;
    }
    &.color-6 {
      background-color: @color-6;
    }
    &.color-7 {
      background-color: @color-7;
    }
    &.color-8 {
      background-color: @color-8;
    }
    &.color-9 {
      background-color: @color-9;
    }
    &.color-10 {
      background-color: @color-10;
      padding-right: 0;
    }
  }
}

.post-item {
  margin: 20px 0;
  .media-left {
    width: 38%;
  }
  .post-image {
    width: 100%;
  }
  .post-time {
    color: #736a68;
    font-size: 11px;
  }
  .post-description {
    margin-bottom: 10px;
  }
  .galaxy-button {
    padding: 4px 22px;
  }
}

.guide-item {
  position: relative;
  border: 1px solid @main-color;
  .border-radius(8px);
  margin-bottom: 15px;
  padding: 5px;
  .guide-cover {
    max-height: 210px;
    overflow: hidden;
  }
  .view-guide {
    position: absolute;
    top: 30px;
    right: 0;
    .horizontal-gradient(#4e1464, #6b2b85);
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    .border-left-radius(4px);
    padding: 6px 12px;
    > i {
      font-size: 15px;
      margin-left: 5px;
    }
  }
  .guide-image {
    width: 100%;
  }
  .guide-control {
    display: inline-block;
    width: 100%;
    border: 1px solid #d5d7d9;
    margin: 5px 0;
    .guide-prev {
      border-left: 0;
      > a {
        padding: 3px 30px 3px 10px;
      }
    }
    .guide-next {
      border-left: 1px solid #d5d7d9;
      > a {
        padding: 3px 10px 3px 30px;
      }
    }
    > li {
      display: inline;
      float: left;
      width: 50%;
      > a {
        display: block;
        > i {
          color: #a8a8a8;
          font-size: 20px;
        }
      }
    }
  }
}

.intro {
  display: block;
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  h1 {
    font-family: @import-font;
    font-size: 32px;
    letter-spacing: 1px;
    margin: 0 0 10px;
  }
}

.content-wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 30px 0 20px;
  &:after {
    .border-gradient-left-to-right(0, 4px, 100%, #6b2b85, #f07721, #f6ea23);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
  }
  .media {
    padding: 15px;
    border-bottom: 1px solid #96a3af;
    margin-bottom: 15px;
    min-height: 185px;
    .media-left {
      padding-right: 20px;
      a {
        background-position: center center;
        background-size: cover;
        display: block;
        height: 130px;
        width: 170px;
      }
      @media (max-width: 360px) {
        a {
          height: 55px;
          width: 85px;
        }
      }
    }
    .media-body {
      padding-bottom: 35px;
      position: relative;
      .media-heading {
        font-size: 16px;
        color: #96a3af;
        font-weight: 700;
      }
      a.btn-read-more {
        padding: 5px 15px;
        .gradient(#bf1411, #f16e18);
        font-weight: 700;
        font-size: 11px;
        text-align: center;
        color: white;
        position: absolute;
        left: 3px;
        bottom: 3px;
        .box-shadow(-1px, 1px, 2px, 0.8);
        .transition(all, 0.3s, ease-out);
        &:hover {
          .gradient(#96110d, #d36015);
        }
      }
    }
  }
}

.sub-tabs {
  height: auto;
  width: 100%;
  display: block;
  .nav-tabs {
    border: none;
    display: block;
    margin: 25px 0 0;
    padding: 0 15px;
    li {
      margin: 0;
      padding: 0 !important;
      a {
        font-weight: 600;
        border: 0;
        margin-right: 0;
        color: #ffffff;
        .border-radius(0);
        text-align: center;
        background: #8b9aa7;
        .transition(all, 0.3s, ease-out);
      }

      &:hover {
        a {
          border: 0;
          background: rgba(0, 0, 0, .1);
          color: #333333;
        }
      }

      &.active {
        position: relative;
        a {
          border: 0;
          .horizontal-gradient(#f4911e, #f6e829);
          color: white;
          &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 8px 8px 0;
            border-color: #f5bc23 transparent;
            display: block;
            width: 0;
            z-index: 1;
            bottom: -8px;
            left: 50%;
            margin-left: -4px;
          }
        }
      }
    }
  }
  .tab-content {
    background-color: #fff;
    padding: 15px;
    #choose_painting {
      .tabs-left {
        background-color: #c4d3df;
      }
    }
    .tab-pane {
      border: 1px solid #eee;
      &#favorite_color {
        padding: 15px 15px 0;
        p.no-result {
          text-align: center;
          color: #7c8d9d;
          margin-bottom: 15px;
          i.isLove {
            color: #e12500;
          }
        }
        .is-love-color {
          border: 1px solid #eee;
          margin-bottom: 15px;
          width: 100%;
          height: auto;
          display: block;
          text-align: center;
          padding: 10px;
          span {
            width: 70px;
            height: 70px;
            display: block;
            margin: 0 auto 10px;
            .border-radius(8px);
          }
          p.color-name-love {
            color: #7c8d9d;
            font-weight: 400;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.tabs-left {
  .red-color {
    .horizontal-gradient(@dark-red-color, @red-color)
  }
  .orange-color {
    .horizontal-gradient(@orange-color, @yellow-color)
  }
  .yellow-color {
    .horizontal-gradient(@yellow-color, @green-color)
  }
  .green-color {
    .horizontal-gradient(@green-color, @dark-green-color)
  }
  .blue-color {
    .horizontal-gradient(@dark-green-color, @blue-color)
  }
  .purple-color {
    .horizontal-gradient(@purple-color, @dark-purple-color)
  }
  .brown-color {
    .horizontal-gradient(@dark-brown-color, @brown-color)
  }
  .dark-color {
    .horizontal-gradient(@light-dark-color, @dark-color)
  }
  .light-color {
    .horizontal-gradient(@light-dark-color, @light-color)
  }
  .no-padding {
    padding: 0 !important;
  }
  .nav-tabs {
    margin: 0;
    padding: 15px 0;
    width: 100%;
    background-color: #c4d3df;
    display: block;
    li {
      margin: 0;
      width: 100%;
      padding: 0;
      a {
        background: #c4d3df;
        padding: 5px 0;
        border: 0;
        display: block;
        span {
          width: 55px;
          height: 55px;
          display: block;
          .border-radius(8px);
          margin: 0 auto;
        }
        @media (max-width: 360px) {
          span {
            width: 20px;
            height: 20px;
          }
        }
        &:hover {
          background: #d3e1ea;
        }
      }
      &.active {
        a {
          background: #d3e1ea;
          &:after {
            border: 0;
          }
        }
      }
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      border: 0;
    }
  }
  .tab-content {
    display: block;
    padding: 0;
    .tab-pane {
      border: 0;
      display: none;
      background-color: #fff;
      padding: 0;
      .sub-level {
        .nav-tabs {
          padding: 0;
          background-color: #d3e1ea;
          min-height: 615px;
          li {
            a {
              padding: 15px 25px;
              background-color: #d3e1ea;
              .display-review-color {
                width: 100%;
                display: block;
                span {
                  width: 15px;
                  height: 15px;
                  margin: 2px 2px 0 0;
                  .border-radius(3px);
                  display: inline-block;
                }
              }
            }
            &.active {
              a {
                background-color: white;
              }
            }
          }
        }
        @media (max-width: 360px) {
          .nav-tabs {
            height: auto;
          }
        }
        .tab-pane {
          min-height: 615px;
          .display-color {
            width: 100%;
            display: block;
            text-align: center;
            padding: 10px 0;
            .profile-color {
              display: none;
              width: 100%;
              span {
                width: 70px;
                height: 70px;
                .border-radius(8px);
                display: block;
                margin: 0 auto 10px;
              }
              .name-color {
                color: #7c8d9d;
                font-weight: 400;
                font-size: 16px;
              }
              i {
                cursor: pointer;
                color: #7c8d9d;
                font-size: 16px;
                line-height: 20px;
                &.isLove {
                  color: #e12500;
                }
              }
              &:first-child {
                display: block;
              }
            }
          }
          .display-content {
            border-top: 1px solid #cfd6da;
            display: block;
            padding: 25px 20px;
            margin: 0;
            text-align: center;
            .display-list-color {
              display: block;
              width: 100%;
              span {
                width: 70px;
                height: 70px;
                cursor: pointer;
                margin: 25px 25px 0 0;
                .border-radius(8px);
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .active {
      display: block;
    }
  }
}


