#footer {
  display: block;
  height: 78px;
  position: relative;
  width: 100%;
  background: hsla(0, 0%, 0%, 0) url("../images/paint-roller.png") no-repeat scroll right -70px top 0;

  &:after {
    background-color: hsl(283, 59%, 28%);
    content: "";
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: -moz-calc(~"100% - 93px");
    width: -webkit-calc(~"100% - 93px");
    width: calc(~"100% - 93px");
  }
  &.isLanding {
    margin-top: -78px;
    @media (max-width: 480px) {
      margin-top: -150px;
    }
    &:before {
      background-color: hsla(0, 0%, 100%, 0);
    }
  }
  .footer-wrapper {
    position: relative;
    height: 100%;
  }
  .copyright {
    position: relative;
    color: #fff;
    z-index: 10;
    margin-top: 8px;
  }
  .contact-now {
    height: 70px;
    margin-top: 8px;
    .flex();
    .align-items(center);
  }
  .social-network {
    position: relative;
    width: 40%;
    z-index: 10;
    margin-top: 8px;
    ul > li {
      display: inline-block;
      margin-right: 10px;
      > a {
        display: inline-block;
        width: 36px;
        height: 36px;
        background-color: #fff;
        border: 1px solid transparent;
        .border-radius(50px);
        text-align: center;
        > i {
          color: #753989;
          font-size: 20px;
          line-height: 36px;
          &.fa-youtube-play {
            font-size: 22px;
          }
        }
        &:hover {
          background-color: #753989;
          border-color: #fff;
          .transition();
          > i {
            color: #fff;
          }
        }
      }
    }
  }
  .send-mail {
    width: 53%;
    .btn-send {
      color: #fff;
      .horizontal-gradient(#f4901e, #f6ea23);
      border-color: #e3e4e5;
      font-weight: 700;
      padding: 6px 32px;
    }
    .form-control:focus {
      border-color: #e3e4e5;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(253, 254, 255, 0.07), 0 0 8px rgba(179, 116, 205, 0.6);
      box-shadow: inset 0 1px 1px rgba(253, 254, 255, 0.07), 0 0 8px rgba(179, 120, 205, 0.6);
    }
    #user-email {
      &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
        color: #753989;
        font-size: 13px;
      }
    }
    #user-email::-webkit-input-placeholder {
      color: #753989;
      font-size: 13px;
    }

    #user-email:-moz-placeholder {
      color: #753989;
      font-size: 13px;
    }

    #user-email::-moz-placeholder {
      color: #753989;
      font-size: 13px;
    }

    #user-email:-ms-input-placeholder {
      color: #753989;
      font-size: 13px;
    }
    input, button {
      .border-radius(0) !important;
    }
  }
  @media (min-width: 992px) {
    .copyright {
      line-height: 70px;
    }

    .contact-now {
      height: 70px;
    }
  }
  @media (max-width: 992px) {
    .contact-now {
      height: 50px;
      margin-top: 0;
    }
    .social-network{
      margin-top: 0;
    }
  }
  @media (max-width: 480px) {
    height: 150px;
    &:after{
      height: 142px;
    }
    .contact-now {
      display: block;
    }

    .social-network {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .send-mail {
      width: 96%;
    }

    .copyright {
      margin: 15px 0 0;
    }
  }
}
