#galaxy-wall-top {
  width: 100%;
  .owl-stage-outer {
    overflow: visible;
  }

  .banner-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    @media (max-width: 767px) {
      img {
        height: 500px;
      }
    }
  }
  .item {
    width: 100%;
    @media (min-width: 1600px) {
      .bannter-prize {
        margin-top: 250px !important;
      }
    }
    @media (min-width: 1200px) {
      .banner-content {
        margin-top: 30px;
      }
      .banner-painter {
        margin-top: 150px;
      }
      .bannter-prize {
        margin-top: 220px;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .banner-painter {
        margin-top: 100px;
      }
      .bannter-prize {
        margin-top: 170px;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .banner-painter {
        margin-top: 50px;
      }
      .bannter-prize {
        margin-top: 150px;
      }
      .banner-frame {
        height: 340px;
      }
    }
    @media (max-width: 767px) {
      .bannter-prize {
        margin-top: 70px;
      }
      .banner-painter {
        position: relative;
        margin-top: 180px;
        z-index: 10;
      }
      .banner-content {
        z-index: 9;
      }
      .absolute {
        position: absolute;
        top: 60px;
        left: 0;
      }
    }
    @media (min-width: 992px) {
      .painter-desktop {
        display: block;
      }
      .painter-mobile {
        display: none;
      }
    }
    @media (max-width: 991px) {
      .painter-desktop {
        display: none;
      }
      .painter-mobile {
        display: block;
      }
    }
  }
  .item-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .banner-content {
    width: 100%;
    > figure {
      position: relative;
      &:first-child {
        @media (min-width: 992px) {
          margin-top: 80px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          margin-top: 40px;
        }
      }
      &:nth-child(2) {
        width: 75%;
        @media (min-width: 768px) {
          margin: 0 auto;
        }
        @media (max-width: 767px) {
          margin-left: auto;
        }
      }
    }
  }
  .banner-smear {
    @media (min-width: 992px) {
      width: 90%;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 80%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .banner-desc {
    position: absolute;
    @media (min-width: 1600px) {
      top: 170px;
      right: 100px;
      h2 {
        font-size: 65px;
      }
      h3 {
        font-size: 45px;
      }
    }
    @media (min-width: 1200px) and (max-width: 1599px) {
      top: 150px;
      right: 100px;
      h2 {
        font-size: 48px;
      }
      h3 {
        font-size: 32px;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      top: 100px;
      right: 50px;
      h2 {
        font-size: 40px;
      }
      h3 {
        font-size: 24px;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      top: 80px;
      right: 50px;
      h2 {
        font-size: 36px;
      }
      h3 {
        font-size: 22px;
      }
    }
    @media (min-width: 768px) {
      text-align: right;
      h2, h3 {
        white-space: nowrap;
      }
    }
    @media (max-width: 767px) {
      top: 20px;
      width: 100%;
      text-align: center;
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 16px;
      }
    }
    h2, h3 {
      color: #fff;
      font-family: @bold-font;
      text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    }
    h2 {
      margin-bottom: 5px;
    }
    button {
      margin-top: 20px;
    }
  }
  .banner-number {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    .flex();
    .align-items(center);
    .justify-content(center);
  }
  .banner-statistic {
    display: table;
    @media (min-width: 1600px) {
      .number {
        font-size: 75px;
      }
      span {
        &:first-child {
          font-size: 30px;
        }
        &:nth-child(2) {
          font-size: 24px;
        }
      }
    }
    @media (min-width: 1200px) and (max-width: 1599px) {
      .number {
        font-size: 60px;
      }
      span {
        &:first-child {
          font-size: 25px;
        }
        &:nth-child(2) {
          font-size: 20px;
        }
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .number {
        font-size: 55px;
      }
      span {
        &:first-child {
          font-size: 22px;
        }
        &:nth-child(2) {
          font-size: 18px;
        }
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .number {
        font-size: 50px;
      }
      span {
        &:first-child {
          font-size: 20px;
        }
        &:nth-child(2) {
          font-size: 16px;
        }
      }
    }
    @media (max-width: 767px) {
      .number {
        font-size: 45px;
      }
      span {
        &:first-child {
          font-size: 20px;
        }
        &:nth-child(2) {
          font-size: 16px;
        }
      }
    }
    > div {
      display: table-cell;
      vertical-align: middle;
      .number {
        color: #632366;
        font-family: @bold-font;
        padding-right: 20px;
        padding-top: 10px;
      }
      span {
        display: block;
        color: #8c2d90;
        font-weight: bold;
        &:first-child {
          text-transform: uppercase;
        }
      }
    }
  }
  .banner-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    .flex();
    .align-items(center);
    .justify-content(center);
    p {
      color: #8e4e91;
      font-weight: 600;
    }
    @media (min-width: 1600px) {
      p {
        margin: 5% 0;
      }
    }
    @media (min-width: 992px) and (max-width: 1599px) {
      p {
        margin: 20px 0;
      }
    }
    @media (max-width: 991px) {
      p {
        margin: 10px 0;
      }
    }
    @media (min-width: 1600px) {
      padding: 0 12%;
      img {
        width: 250px;
      }
      p {
        font-size: 15px;
      }
    }
    @media (min-width: 1200px) and (max-width: 1599px) {
      padding: 0 60px;
      img {
        width: 200px;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      padding: 0 30px;
      img {
        width: 180px;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      padding: 0 12%;
      img {
        width: 150px;
      }
    }
    @media (max-width: 767px) {
      padding: 0 10px;
      img {
        width: 150px;
        margin-bottom: 20px;
      }
      p {
        display: none;
      }
    }
  }
}

#galaxy-wall-middle {
  position: relative;
  width: 100%;
  background: url("../images/galaxy-wall/middle-bg.jpg") no-repeat center top / cover;
  margin-bottom: -5px;
  @media (min-width: 1200px) {
    min-height: 800px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    min-height: 700px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    min-height: 700px;
  }
  @media (max-width: 767px) {
    min-height: 800px;
    .banner-btn {
      width: 200px;
    }
  }
  .painter-decor {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
    @media (min-width: 1200px) {
      bottom: -80px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      bottom: -50px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      bottom: -105px;
    }
    @media (max-width: 767px) {
      bottom: -30px;
    }
    > figure img {
      width: 100%;
    }
  }
  .rule-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    background: no-repeat center / 100% 100%;
    .transition();
    cursor: default;
    .rule-2, .rule-3 {
      display: none;
    }
    .rule-3 {
      > div {
        width: 100%;
        height: 100%;
        .flex();
        .align-items(center);
        .justify-content(center);
      }
    }
    .rule-1, .rule-2, .rule-3 {
      position: relative;
      overflow: hidden;
      z-index: 1000;
    }
    @media (min-width: 768px) {
      background-image: url("../images/galaxy-wall/rule-wrapper.png");
    }
    @media (max-width: 767px) {
      background-image: url("../images/galaxy-wall/rule-wrapper-mobile.png");
    }
    @media (min-width: 1200px) {
      padding: 65px 150px;
      margin-top: 200px;
      .rule-1, .rule-2, .rule-3 {
        height: 480px;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      padding: 55px 125px 30px;
      margin-top: 150px;
      .rule-1, .rule-2, .rule-3 {
        height: 490px;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      padding: 40px 65px 20px;
      margin-top: 150px;
      .rule-1, .rule-2, .rule-3 {
        height: 500px;
      }
      .rule-2 {
        padding-top: 30px;
      }
    }
    @media (max-width: 767px) {
      padding: 40px 35px 20px;
      margin-top: 90px;
      .rule-1, .rule-2, .rule-3 {
        height: 650px;
      }
    }
    .scroll-block {
      width: 620px;
      height: 340px;
      position: relative;
      display: block;
      z-index: 101;
    }
    .title-block {
      font-family: @bold-font;
      text-transform: uppercase;
      color: #632366;
      line-height: 40px;
      text-align: center;
      margin-bottom: 25px;
      @media (min-width: 1600px) {
        font-size: 30px;
      }
      @media (max-width: 1599px) {
        font-size: 25px;
      }
    }
    p {
      color: #808d9b;
      font-size: 15px;
      line-height: 24px;
    }
    input[type="file"] {
      display: none;
    }
    .form-message {
      text-align: center;
      h3 {
        color: #632366;
        font-family: @bold-font;
        margin: 25px 0 10px;
        @media (min-width: 768px) {
          font-size: 36px;
        }
        @media (max-width: 767px) {
          font-size: 30px;
        }
      }
      p {
        color: #632366;
        font-size: 16px;
      }
    }
    .form-holder {
      position: relative;
      width: 100%;
      border: 1px dashed #9aa4ae;
      @media (min-width: 768px) {
        height: 212px;
      }
      @media (max-width: 767px) {
        height: 180px;
      }
    }
    .form-upload {
      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }
    .holder-border {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      .transition(opacity, 0.3s, ease-in-out);
      .x-top-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 5px;
        z-index: 100;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#67327b), to(transparent));
        background-image: -webkit-linear-gradient(left, #67327b, transparent);
        background-image: -moz-linear-gradient(left, #67327b, transparent);
        background-image: -o-linear-gradient(left, #67327b, transparent);
      }
      .y-top-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 60%;
        z-index: 100;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#67327b), to(transparent));
        background-image: -webkit-linear-gradient(#67327b, transparent);
        background-image: -moz-linear-gradient(#67327b, transparent);
        background-image: -o-linear-gradient(#67327b, transparent);
        background-image: linear-gradient(#67327b, transparent);
      }
      .x-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60%;
        height: 5px;
        z-index: 100;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#67327b));
        background-image: -webkit-linear-gradient(left, transparent, #67327b);
        background-image: -moz-linear-gradient(left, transparent, #67327b);
        background-image: -o-linear-gradient(left, transparent, #67327b);
      }
      .y-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 5px;
        height: 60%;
        z-index: 100;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#67327b));
        background-image: -webkit-linear-gradient(transparent, #67327b);
        background-image: -moz-linear-gradient(transparent, #67327b);
        background-image: -o-linear-gradient(transparent, #67327b);
        background-image: linear-gradient(transparent, #67327b);
      }
    }
    .holder-logo {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 80px;
      height: 41px;
      background: url("../images/galaxy-wall/galaxy-wall.png") no-repeat center center / 100% auto;
    }
    .holder-camera {
      position: absolute;
      top: 50%;
      margin-top: -50px;
      left: 50%;
      margin-left: -45px;
      width: 90px;
      height: 100px;
      background: url("../images/galaxy-wall/upload-icon.png") no-repeat center center / 100% auto;
    }
    label {
      color: #9aa4ae;
      font-size: 15px;
      margin-bottom: 5px;
    }
    .form-control {
      background-color: #ebebeb;
      border-color: #9aa4ae;
      .border-radius(0);
      box-shadow: none;
      &:focus {
        background-color: #fff;
        border-color: #632366 !important;
      }
    }
    .form-submit {
      text-align: center;
      button {
        display: inline-block !important;
        &:first-child {
          margin-right: 10px;
        }
      }
      @media (max-width: 767px) {
        button:nth-child(2) {
          margin-top: 10px;
        }
      }
    }
  }
  .banner-btn {
    position: relative;
    display: block !important;
    z-index: 101;
    margin-top: 30px;
  }
  @media (max-width: 767px) {
    .rule-2 .banner-btn {
      margin-top: 0;
    }
  }
}

#galaxy-wall-bottom {
  position: relative;
  width: 100%;
  background: url("../images/galaxy-wall/bottom-bg.jpg") no-repeat center top / cover;
  min-height: 800px;
  padding: 100px 0 40px;
  .title-block {
    color: #fff;
    text-align: center;
    @media (min-width: 768px) {
      h2, h3 {
        font-size: 50px;
      }
      p {
        margin: 30px 0 40px;
        padding: 0 70px;
      }
    }
    @media (max-width: 767px) {
      h2, h3 {
        font-size: 40px;
      }
      p {
        margin: 20px 0 30px;
      }
    }
    h2, h3 {
      text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    }
    h2 {
      font-family: @import-font;
      margin-bottom: 5px;
    }
    h3 {
      font-family: @bold-font;
    }
    p {
      color: #fff;
      font-size: 15px;
      line-height: 24px;
    }
  }
  .walls {
    margin: auto;
  }
  @media (min-width: 992px) {
    .wall-sizer, .wall-item {
      width: 33.33%;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .wall-sizer, .wall-item {
      width: 50%;
    }
  }

  @media (max-width: 767px) {
    .wall-sizer, .wall-item {
      width: 100%;
    }
  }

  .wall-item {
    float: left;
    padding: 8px;
    cursor: pointer;
    .item {
      position: relative;
      overflow: hidden;
      &:hover {
        figure img {
          .transform(scale(1.1));
        }
        .wall-caption {
          bottom: -111px;
        }
      }
    }

    figure img {
      display: block;
      .transition(all, 0.5s, ease-in-out);
    }
    .wall-caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.3);
      padding: 20px;
      .transition(all, 0.5s, ease-in-out);
      h4 {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      p {
        color: #fff;
        line-height: 24px;
        height: 48px;
      }
    }
  }
}

.banner-btn {
  display: inline-block;
  height: 38px;
  margin-bottom: 10px;
  padding: 5px 12px 0;
  font-family: @bold-font !important;

  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  .user-select();
  border: 3px solid transparent;
  .border-radius(50px);
  .transition();
  @media (min-width: 768px) {
    width: 250px;
    font-size: 20px;
  }
  @media (max-width: 767px) {
    width: 200px;
    font-size: 16px;
  }
  &.red {
    background-color: #d21f1a;
    border-color: #d21f1a;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #d21f1a;
    }
  }
  &.white {
    background-color: transparent;
    border-color: #d21f1a;
    color: #d21f1a;
    &:hover {
      border-color: #fff;
      color: #fff;
    }
  }
  &.trans {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    &:hover {
      background-color: #d21f1a;
    }
  }
}

#viewAndShare {
  .modal-dialog {
    @media (min-width: 992px) {
      width: 840px;
    }
  }
  .modal-content {
    position: relative;
    .border-radius(0);
  }
  .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 5px;
    z-index: 99;
    i {
      display: block;
      width: 18px;
      height: 17px;
      background: url('../images/galaxy-wall/close-icon.png');
    }
  }
  @media (min-width: 992px) {
    .modal-left {
      padding-right: 0;
    }
    .modal-right {
      padding-left: 0;
    }
  }
  .modal-prev, .modal-next {
    position: absolute;
    top: 50%;
    margin-top: -21px;
    width: 24px;
    height: 42px;
    background: no-repeat center center / 100% auto;
    cursor: pointer;
  }
  .modal-prev {
    left: -40px;
    background-image: url("../images/galaxy-wall/prev-icon.png");
  }
  .modal-next {
    right: -40px;
    background-image: url("../images/galaxy-wall/next-icon.png");
  }
  .gw-image {
    position: relative;
    display: block;
    img {
      display: block;
      width: 100%;
    }
  }
  .gw-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .transition(opacity, 0.3s, ease-in-out);
    .x-top-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 10px;
      z-index: 100;
      background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#67327b), to(transparent));
      background-image: -webkit-linear-gradient(left, #67327b, transparent);
      background-image: -moz-linear-gradient(left, #67327b, transparent);
      background-image: -o-linear-gradient(left, #67327b, transparent);
    }
    .y-top-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 60%;
      z-index: 100;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#67327b), to(transparent));
      background-image: -webkit-linear-gradient(#67327b, transparent);
      background-image: -moz-linear-gradient(#67327b, transparent);
      background-image: -o-linear-gradient(#67327b, transparent);
      background-image: linear-gradient(#67327b, transparent);
    }
    .x-bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 60%;
      height: 10px;
      z-index: 100;
      background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#67327b));
      background-image: -webkit-linear-gradient(left, transparent, #67327b);
      background-image: -moz-linear-gradient(left, transparent, #67327b);
      background-image: -o-linear-gradient(left, transparent, #67327b);
    }
    .y-bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10px;
      height: 60%;
      z-index: 100;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#67327b));
      background-image: -webkit-linear-gradient(transparent, #67327b);
      background-image: -moz-linear-gradient(transparent, #67327b);
      background-image: -o-linear-gradient(transparent, #67327b);
      background-image: linear-gradient(transparent, #67327b);
    }
  }
  .gw-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    background: url("../images/galaxy-wall/galaxy-wall.png") no-repeat center center / 100% auto;
    @media (min-width: 768px) {
      width: 150px;
      height: 76px;
    }
    @media (max-width: 767px) {
      width: 120px;
      height: 61px;
    }
  }
  .gw-caption {
    .gradient(#fefefe, #dedede);
    padding: 30px;
    cursor: default;
    p {
      color: #000;
      line-height: 24px;
    }
    .gw-author {
      color: #000;
      margin-top: 25px;
      text-transform: uppercase;
    }
  }
  .box-conversation {
    display: block;
    width: 100%;
    padding: 20px 10px;
    .conversation-logo {
      padding: 0 0 20px;
      display: block;
      text-align: center;
      width: 100%;
      border-bottom: 1px solid #afafaf;
    }
    .conversation-content {
      display: block;
      width: 100%;
      position: relative;
      padding-top: 20px;
    }
  }
}

.no-padding {
  padding: 0;
}