.navbar {
  position: relative;
  width: 100%;
  height: 98px;
  border: none;
  border-bottom: 2px solid #230053;
  .border-radius(0);
  background: transparent url('../images/header-background.png') repeat-x top center;
  margin: 0;
}

.navbar-logo {
  float: left;
  padding: 13px 15px;
}

.navbar-nav {
  margin-top: 30px;
}

.navbar-nav, .navbar-form {
  display: inline-block;
}

.nav > li > a {
  padding: 10px;
}

.navbar-nav > li > a {
  color: #8b9ba8;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  &:hover, &:focus {
    color: #acbdca;
    background-color: transparent;
  }
}

.navbar-nav > .active > a {
  color: #fff;
}

.navbar-nav > .open > a {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-toggle {
  border-color: #ddd;
  &:hover, &:focus {
    background-color: #ddd;
  }
  .icon-bar {
    background-color: #888;
  }
}

.navbar-collapse, .navbar-form {
  border-color: #e7e7e7;
}

//.navbar-toolbar {
//  display: inline-block;
//  width: 79%;
//}

.navbar-form {
  position: relative;
  margin-top: 37px;
  &:after {
    content: "\e909";
    position: absolute;
    top: 4px;
    right: 20px;
    font-family: 'galaxy';
    font-size: 15px;
    line-height: 1;
    color: #8b9ba8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  input {
    max-width: 150px;
    height: 24px;
    font-size: 12px;
    background-color: transparent;
    border-color: #8b9ba8;
    color: #8b9ba8;
    padding: 0 6px;
    &:focus {
      background-color: #fff;
    }
  }
  #search-keyword::-webkit-input-placeholder {
    color: #8b9ba8;
  }
  #search-keyword:-moz-placeholder {
    color: #8b9ba8;
  }
  #search-keyword::-moz-placeholder {
    color: #8b9ba8;
  }
  #search-keyword:-ms-input-placeholder {
    color: #8b9ba8;
  }
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
    &:hover, &:focus {
      color: #333;
      background-color: transparent;
    }
  }
  .navbar-nav .open .dropdown-menu > .active > a {
    color: #555;
    background-color: #e7e7e7;
  }
}

@media (min-width: 1000px) {
  //.navbar-nav {
  //  width: 80%;
  //}
  //.navbar-form {
  //  width: 20%;
  //}
}