#lucky-painter-header {
  &.header-banner {
    display: block;
    width: 100%;
    z-index: 1 !important;
    position: relative;
    background-color: #ebe2db;
    figure {
      text-align: center;
      position: relative;
      img {
        width: 100%;
      }
      .paint-block-landing {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        max-width: 1903px;
      }
      .banner-landing, .paint-block-landing{
        &.mobile{
          display: none;
        }
        @media (max-width: 768px) {
          display: none;
          &.mobile{
            display: block;
          }
        }
      }
      .banner-landing-mobile{
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }
    }
    .action-content {
      position: absolute;
      left: 0;
      top: 35px;
      width: 100%;
      height: 100%;
      @media (max-width: 1024px) {
        top: 15px;
      }
      @media (max-width: 480px) {
        top: 15px;
      }
      @media (max-width: 360px) {
        top: 0;
      }
      .block-action {
        width: 455px;
        height: auto;
        text-align: center;
        color: white;
        margin-left: 0;
        .transition();
        @media (max-width: 1460px) {
          margin-left: 75px;
        }
        @media (max-width: 1320px) {
          margin-left: 150px;
        }
        @media (max-width: 1024px) {
          margin-left: 100px;
        }
        @media (max-width: 768px) {
          margin-left: -20px;
          margin-top: 125px;
        }
        @media (max-width: 600px) {
          margin-left: -60px;
          margin-top: 100px;
        }
        @media (max-width: 480px) {
          margin-top: 15px;
          margin-left: -40px;
          width: 285px;
        }
        @media (max-width: 360px) {
          margin-left: -40px;
          width: 275px;
          margin-top: 60px;
        }
        @media (max-width: 320px) {
          width: 235px;
        }

        .lending-title {
          font-family: @landing-font;
          font-size: 70px;
          line-height: 55px;
          text-transform: uppercase;
          text-shadow: -5px 3px 2px hsla(43, 79%, 17%, 0.4);
          margin-bottom: 25px;
          @media (min-width: 1660px) and (max-width: 1920px){
            font-size: 90px;
            line-height: 75px;
          }
          @media (max-width: 1024px) {
            margin-bottom: 10px;
            font-size: 50px;
            line-height: 50px;
          }
          @media (max-width: 768px) {
            margin-bottom: 10px;
            font-size: 60px;
            line-height: 60px;
          }
          @media (max-width: 640px) {
            font-size: 30px;
            line-height: 30px;
          }
        }
        .intro-action {
          color: white;
          font-size: 13px;
          font-weight: 600;
          margin-bottom: 20px;
          display: block;
          @media (min-width: 1660px) and (max-width: 1920px){
            font-size: 17px;
          }
          @media (max-width: 1024px) {
            margin-bottom: 10px;
          }
          @media (max-width: 768px) {
            padding: 0 60px;
          }
          @media (max-width: 480px) {
            padding: 0 45px;
            font-size: 11px;
          }
          @media (max-width: 360px) {
           display: none;
          }
        }
        .btn-register {
          border: 0;
          display: block;
          background-color: #d21f1a;
          width: 245px;
          height: 32px;
          text-align: center;
          color: white;
          line-height: 26px;
          font-size: 22px;
          text-transform: uppercase;
          .border-radius(20px);
          margin: 0 auto 15px;
          .transition();
          box-shadow: -3px 1px 1px hsla(43, 79%, 17%, 0.4);
          &:hover {
            background-color: white;
            color: #d21f1a;
          }
          @media (min-width: 1660px) and (max-width: 1920px){
            font-size: 28px;
            height: 38px;
            line-height: 32px;
            width: 300px;
          }

          @media (max-width: 640px) {
            width: 200px;
          }
          @media (max-width: 480px) {
            font-size: 14px;
            line-height: 18px;
            width: 130px;
            height: 22px;
            margin: 0 auto 5px;
          }

          span {
            font-family: @landing-font;
          }
        }
        .btn-content-event {
          display: block;
          font-family: @landing-font;
          border: 3px solid #d21f1a;
          background-color: transparent;
          width: 245px;
          height: 32px;
          text-align: center;
          color: #d21f1a;
          line-height: 26px;
          font-size: 22px;
          text-transform: uppercase;
          .border-radius(20px);
          margin: 0 auto 15px;
          box-shadow: -3px 1px 1px hsla(43, 79%, 17%, 0.4);
          .transition();
          @media (min-width: 1660px) and (max-width: 1920px){
            font-size: 28px;
            height: 38px;
            line-height: 28px;
            width: 300px;
          }
          @media (max-width: 640px) {
            width: 200px;
          }
          @media (max-width: 480px) {
            font-size: 14px;
            line-height: 18px;
            width: 130px;
            height: 22px;
            margin: 0 auto 5px;
            border: 2px solid #d21f1a;
          }

          span {
            text-shadow: -2px 1px 1px hsla(43, 79%, 17%, 0.4);
            font-family: @landing-font;
          }
          &:hover {
            border-color: white;
            color: white;
          }
        }
      }
    }
  }
}

#lucky-painter-header-content {
  @media (max-width: 768px) {
    .slimScrollDiv{
      height: 680px !important;
      .scroll-block{
        height: 680px !important;
      }
    }
  }
  @media (max-width: 640px) {
    .slimScrollDiv{
      height: 550px !important;
      .scroll-block{
        height: 550px !important;
      }
    }
  }
  @media (max-width: 480px) {
    .slimScrollDiv{
      height: 450px !important;
      .scroll-block{
        height: 450px !important;
      }
    }
  }
  @media (max-width: 360px) {
    .slimScrollDiv{
      height: 330px !important;
      .scroll-block{
        height: 330px !important;
      }
    }
  }
  @media (max-width: 320px) {
    .slimScrollDiv{
      height: 280px !important;
      .scroll-block{
        height: 280px !important;
      }
    }
  }
  &.header-banner {
    display: block;
    width: 100%;
    position: relative;
    background-color: #ebe2db;
    @media (max-width: 991px) {
      padding-bottom: 30px;
    }
    figure {
      text-align: center;
      position: relative;
      display: block;
      .transition();
      img {
        width: 100%;
        &.banner-landing{
          display: block;
          &.mobile, &.mobile-small{
            display: none;
          }
          @media (max-width: 768px) {
            display: none;
            &.mobile{
              display: block;
            }
          }
          @media (max-width: 480px) {
            &.mobile{
              display: none;
            }
            &.mobile-small{
              display: block;
            }
          }
        }
      }
    }
    .block-header-content {
      display: block;
      left: 0;
      margin: 0 auto;
      padding: 50px 0 0;
      position: absolute;
      top: 0;
      width: 100%;
      .transition();
      @media (max-width: 1024px) {
        padding: 25px 0 0;
      }
      @media (max-width: 768px) {
        padding: 20px 0 0;
      }
      @media (max-width: 640px) {
        padding: 10px 0 0;
      }
      .wrapper-block {
        width: 1285px;
        position: relative;
        height: 100%;
        display: block;
        margin: 0 auto;
        .transition();
        @media (min-width: 1660px) and (max-width: 1920px) {
          width: 1560px;
        }
        @media (max-width: 1320px) {
          width: 1200px;
        }
        @media (max-width: 1024px) {
          width: 1000px;
        }
        @media (max-width: 768px) {
          width: 750px;
        }
        @media (max-width: 640px) {
          width: 600px;
        }
        @media (max-width: 480px) {
          width: 100%;
          padding: 0 15px;
        }
      }
      .btn-prev-block1 {
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        z-index: 1;
        .transition();
        @media (max-width: 480px) {
          left: 0;
          top: 15px;
        }
        .prev-icon {
          background: url("../images/landing-header/block1-prev.png") no-repeat center center/100% auto;
          width: 40px;
          height: 59px;
          display: block;
        }
      }
      .title-wrapper-header {
        display: block;
        left: 0;
        top: 145px;
        width: 255px;
        text-align: left;
        position: absolute;
        font-family: @landing-font;
        color: #ffc406;
        font-size: 55px;
        line-height: 72px;
        text-transform: uppercase;
        text-shadow: -5px 3px 0 hsla(43, 79%, 17%, 0.5);
        .transition();
        z-index: 1;
        @media (max-width: 1320px) {
          font-size: 50px;
          line-height: 70px;
        }
        @media (max-width: 1024px) {
          font-size: 50px;
        }
        @media (max-width: 768px) {
          top: 70px;
        }
        @media (max-width: 640px) {
          font-size: 20px;
          line-height: 35px;
          top: 90px;
        }
        @media (max-width: 480px) {
          position: relative;
          width: 100%;
          top: 0;
          left: 45px;
          text-shadow: -1px 1px 0 hsla(43, 79%, 17%, 0.5);
        }
        span {
          font-size: 80px;
          text-shadow: -5px 3px 0 hsla(43, 79%, 17%, 0.5);
          .transition();
          @media (max-width: 1320px) {
            font-size: 70px;
          }
          @media (max-width: 1024px) {
            font-size: 70px;
          }
          @media (max-width: 640px) {
            font-size: 35px;
            text-shadow: -1px 1px 0 hsla(43, 79%, 17%, 0.5);
          }
        }
        &:after {
          position: absolute;
          bottom: -20px;
          left: 0;
          box-shadow: -5px 3px 0 hsla(43, 79%, 17%, 0.5);
          background-color: #ffc406;
          width: 100px;
          height: 10px;
          content: '';
          .transition();
          @media (max-width: 640px) {
            height: 5px;
            bottom: -10px;
            box-shadow: -1px 1px 0 hsla(43, 79%, 17%, 0.5);
          }
        }
      }
      .block-content-1 {
        width: 990px;
        position: absolute;
        right: 0;
        height: auto;
        top: 0;
        padding: 90px 180px;
        margin-top: 0;
        background: url("../images/landing-header/block1-content.png") no-repeat center / 100% 100%;
        .transition();
        @media (min-width: 1660px) and (max-width: 1920px) {
          padding: 195px 270px;
          width: 1250px;
        }
        @media (max-width: 1320px) {
          padding: 65px 150px;
        }
        @media (max-width: 1024px) {
          padding: 25px 125px;
          width: 750px;
        }
        @media (max-width: 768px) {
          margin-top: 30px;
          background: url("../images/galaxy-wall/rule-wrapper-mobile-right.png") no-repeat center / 100% 100%;
          padding: 50px 55px;
          width: 555px;
        }
        @media (max-width: 640px) {
          margin-top: 0;
          padding: 45px 45px;
          width: 490px;
        }
        @media (max-width: 480px) {
          margin-top: 30px;
          padding: 55px 35px;
          width: 100%;
          position: relative;
        }
        @media (max-width: 360px) {
          margin-top: 25px;
          padding: 45px 35px;
        }
        .scroll-block {
          width: 620px;
          height: 340px;
          position: relative;
          display: block;
          .title-block {
            font-family: @landing-font;
            text-transform: uppercase;
            color: #632366;
            font-size: 25px;
            text-align: center;
            margin-bottom: 25px;
          }
          p {
            color: #808d9b;
            font-size: 15px;
          }
        }
      }
    }
  }
}

#lucky-painter-header-register {
  &.header-banner {
    display: block;
    width: 100%;
    position: relative;
    background-color: #ebe2db;
    @media (max-width: 991px) {
      padding-bottom: 30px;
    }
    figure {
      text-align: center;
      position: relative;
      display: block;
      @media (min-width: 768px) and (max-width: 991px) {
        padding-bottom: 60px;
      }
      img {
        width: 100%;
        &.banner-landing{
          display: block;
          &.mobile, &.mobile-small{
            display: none;
          }
          @media (max-width: 768px) {
            display: none;
            &.mobile{
              display: block;
            }
          }
          @media (max-width: 480px) {
            &.mobile{
              display: none;
            }
            &.mobile-small{
              display: block;
            }
          }
        }
      }
      .paint-block-landing {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        max-width: 1920px;
        z-index: 1;
        &.mobile, &.mobile-small{
          display: none;
        }
        @media (max-width: 768px) {
          display: none;
          &.mobile{
            display: block;
          }
        }
        @media (max-width: 480px) {
          &.mobile{
            display: none;
          }
          &.mobile-small{
            display: block;
          }
        }
      }
    }
    .block-header-content {
      display: block;
      left: 0;
      margin: 0 auto;
      padding: 50px 0 0;
      position: absolute;
      top: 0;
      width: 100%;
      @media (max-width: 1024px) {
        padding: 25px 0 0;
      }
      @media (max-width: 768px) {
        padding: 20px 0 0;
      }
      @media (max-width: 640px) {
        padding: 10px 0 0;
      }
      .wrapper-block {
        width: 1285px;
        position: relative;
        height: 100%;
        display: block;
        margin: 0 auto;
        .transition();
        @media (min-width: 1660px) and (max-width: 1920px) {
          width: 1560px;
        }
        @media (max-width: 1320px) {
          width: 1200px;
        }
        @media (max-width: 1024px) {
          width: 1000px;
        }
        @media (max-width: 768px) {
          width: 750px;
        }
        @media (max-width: 640px) {
          width: 600px;
        }
        @media (max-width: 480px) {
          width: 100%;
          padding: 0 15px;
        }
      }
      .btn-prev-block2 {
        display: block;
        right: 0;
        top: 0;
        position: absolute;
        z-index: 1;
        @media (max-width: 480px) {
          right: 10px;
          top: 20px;
        }
        @media (max-width: 320px) {
          top: 0;
        }
        .prev-icon {
          background: url("../images/landing-header/block2-prev.png") no-repeat center center/100% auto;
          width: 34px;
          height: 56px;
          display: block;
        }
      }
      .title-wrapper-header {
        z-index: 1;
        display: block;
        right: 0;
        top: 145px;
        width: 370px;
        text-align: right;
        position: absolute;
        font-family: @landing-font;
        color: #632366;
        font-size: 55px;
        line-height: 72px;
        text-transform: uppercase;
        text-shadow: -4px 2px 2px hsla(43, 79%, 17%, 0.3);
        .transition();
        @media (max-width: 1320px) {
          font-size: 50px;
          line-height: 70px;
        }
        @media (max-width: 1024px) {
          font-size: 50px;
        }
        @media (max-width: 768px) {
          font-size: 35px;
          top: 70px;
          line-height: 45px;
        }
        @media (max-width: 640px) {
          font-size: 20px;
          line-height: 35px;
          top: 90px;
        }
        @media (max-width: 480px) {
          width: 100%;
          top: 0;
          left: -45px;
        }
        @media (max-width: 360px) {
          top: -10px;
        }
        @media (max-width: 320px) {
          line-height: 25px;
        }
        span {
          font-size: 80px;
          text-shadow: -4px 2px 2px hsla(43, 79%, 17%, 0.3);
          .transition();
          @media (max-width: 1320px) {
            font-size: 70px;
          }
          @media (max-width: 1024px) {
            font-size: 70px;
          }
          @media (max-width: 768px) {
            font-size: 50px;
          }
          @media (max-width: 640px) {
            font-size: 35px;
          }
          @media (max-width: 320px) {
            font-size: 30px;
          }
        }
        &:after {
          position: absolute;
          bottom: -20px;
          right: 0;
          box-shadow: -4px 2px 2px hsla(43, 79%, 17%, 0.3);
          background-color: #632366;
          width: 120px;
          height: 10px;
          content: '';
          @media (max-width: 768px) {
            bottom: -10px;
            height: 5px;
          }
        }
      }
      .block-content-2 {
        width: 990px;
        position: absolute;
        left: 0;
        height: auto;
        top: 0;
        padding: 90px 180px;
        background: url("../images/landing-header/block2-content.png") no-repeat center / 100% 100%;
        .transition();
        @media (min-width: 1660px) and (max-width: 1920px) {
          padding: 195px 270px;
          width: 1250px;
        }
        @media (max-width: 1320px) {
          padding: 65px 150px;
        }
        @media (max-width: 1024px) {
          padding: 50px 125px;
          width: 750px;
          margin-top: 30px;
        }
        @media (max-width: 768px) {
          padding: 150px 80px;
          width: 555px;
          background: url("../images/galaxy-wall/rule-wrapper-mobile.png") no-repeat center / 100% 100%;
        }
        @media (max-width: 640px) {
          padding: 125px 80px;
          width: 490px;
        }
        @media (max-width: 480px) {
          left: 5%;
          margin-top: 0;
          padding: 90px 30px;
          top: 100px;
          width: 70%;
        }
        @media (max-width: 360px) {
          padding: 25px 30px;
          top: 85px;
          width: 80%;
        }
        @media (max-width: 320px) {
          padding: 25px 30px;
          top: 40px;
          width: 90%;
        }
        .register-block {
          position: relative;
          display: block;
          .register-form {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            label {
              color: #808d9b;
              font-size: 15px;
              font-weight: 600;
              margin-bottom: 5px;
              @media (min-width: 1660px) and (max-width: 1920px) {
                font-size: 18px;
              }
              &:hover{
                color: #632366;
              }
            }
            .form-group{
              @media (max-width: 1024px) {
                margin: 0 auto 5px;
              }
              @media (max-width: 768px) {
                margin: 0 auto 15px;
              }
              @media (max-width: 640px) {
                margin: 0 auto 5px;
              }
            }
            label{
              &.active, &.isTyped{
                color: #632366;
              }
            }
            input, textarea{
              &.isTyped{
                border: 1px solid #632366 !important;
                background-color: white !important;
              }
            }
            .form-control {
              .border-radius(0);
              border-color: #808d9b;
              background-color: #ebebeb;
              &:focus {
                background-color: #ffffff;
                border-color: #632366 !important;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(99, 35, 102, 0.6);
              }
            }
            textarea {
              resize: none;
              @media (max-width: 768px) {
                max-height: 55px;
              }
            }
            .btn-submit{
              border: 0;
              display: block;
              background-color: #d21f1a;
              width: 170px;
              height: 38px;
              text-align: center;
              color: white;
              line-height: 30px;
              font-size: 22px;
              text-transform: uppercase;
              .border-radius(20px);
              margin: 30px auto 0;
              .transition();
              box-shadow: -3px 1px 1px hsla(43, 79%, 17%, 0.4);
              @media (max-width: 768px) {
                margin: 10px auto 0;
                line-height: 25px;
                height: 30px;
                font-size: 18px;
              }
              span{
                font-family: @landing-font;
              }
              &:hover {
                background-color: white;
                color: #d21f1a;
              }

            }
          }
          .register-success {
            display: none;
            text-align: center;
            padding: 60px 0;
            @media (max-width: 480px) {
              padding: 0;
            }
            .icon-success {
              display: block;
              background: url("../images/landing-header/success-icon.png") no-repeat center / cover;
              width: 88px;
              height: 88px;
              margin: 0 auto;
              @media (max-width: 480px) {
                width: 55px;
                height: 55px;
              }
            }
            .success-title {
              font-size: 45px;
              margin: 30px 0 15px;
              text-align: center;
              color: #632366;
              font-family: @landing-font;
              @media (max-width: 1024px) {
                margin: 5px 0;
                line-height: 25px;
                height: 30px;
                font-size: 24px;
              }
              @media (max-width: 480px) {
                margin: 0;
                line-height: 25px;
                height: 30px;
                font-size: 18px;
              }
            }
            p {
              color: #8e4e91;
              font-size: 16px;
              display: block;
              font-weight: 600;
              padding: 0 50px;
              @media (max-width: 640px) {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

