#product-page-banner {
  position: relative;
  background: #4e2a66 url("../images/product-landing/violet-bg.jpg") no-repeat center center / cover;
  width: 100%;
  overflow: hidden;
  @media (min-width: 992px) {
    min-height: 750px;
  }
  @media (max-width: 991px) {
    min-height: 600px;
  }
  figure {
    display: inline-block;
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 0 0;
    @media (max-width: 767px) {
      img {
        width: 80%;
      }
    }
  }
  .banner-content {
    @media (min-width: 1200px) {
      padding: 100px 0 50px;
      h3 {
        font-size: 36px;
      }
      h2 {
        font-size: 48px;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      padding: 80px 0 40px;
      h3 {
        font-size: 32px;
      }
      h2 {
        font-size: 42px;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      padding: 50px 0 30px;
      h3 {
        font-size: 24px;
      }
      h2 {
        font-size: 30px;
      }
    }
    @media (max-width: 767px) {
      padding: 10px 0 40px;
      h3 {
        font-size: 20px;
      }
      h2 {
        font-size: 24px;
      }
    }
    h2, h3 {
      color: #fff;
      text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
      margin-left: 10px;
    }
    h3 {
      font-family: 'Gotham-Medium', sans-serif;
      margin-bottom: 5px;
    }
    h2 {
      font-family: 'Gotham-Ultra', sans-serif;
    }
  }
  .banner-tab {
    @media (min-width: 1200px) {
      margin-top: 20px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 15px;
    }
    @media (max-width: 991px) {
      margin-top: 10px;
    }
  }
  .nav-tabs {
    border-bottom: none;
    > li.active {
      > a, > a:focus, > a:hover {
        background-color: transparent;
        border-color: transparent;
        color: #fefefe;
        font-weight: 600;
        &:after {
          width: 60%;
        }
      }
    }
    > li {
      width: 33.33%;
      > a {
        position: relative;
        color: rgba(254,254,254,0.6);
        @media (min-width: 1200px) {
          font-size: 18px;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          font-size: 17px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 16px;
        }
        @media (max-width: 767px) {
          font-size: 15px;
        }
        &:focus, &:hover {
          background-color: transparent;
          border-color: transparent;
          color: #fefefe;
          font-weight: 600;
          &:after {
            width: 60%;
          }
        }
        &:after {
          content: '';
          position: absolute;
          left: 10px;
          bottom: -5px;
          width: 0;
          border-bottom: 3px solid #fff;
          .transition();
        }
      }
    }
  }
  .tab-content {
    padding: 20px 10px;
    cursor: default;
    p {
      color: #fff;
      font-size: 14px;
      line-height: 24px;
      text-align: justify;
    }
    ul {
      @media (min-width:768px) {
        margin-top: 30px;
        > li {
          width: 33%;
        }
      }
      @media (max-width: 767px) {
        margin-top: 20px;
        > li {
          width: 50%;
        }
      }
      > li {
        float: left;
        margin-bottom: 20px;
      }
    }
  }
}

#product-page-testimonial {
  @media (min-width: 768px) {
    padding: 60px 0 100px;
    .testimonial-wrapper:after {
      bottom: -50px;
    }
  }
  @media (max-width: 767px) {
    padding: 60px 0 80px;
    .testimonial-wrapper:after {
      bottom: -40px;
    }
  }
  .btn-send-testimonial {
    display: inline-block;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
  .testimonial-wrapper {
    position: relative;
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      border-bottom: 1px solid #ddd;
    }
  }
}

#product-page-feature {
  .feature-item {
    position: relative;
    margin-bottom: 30px;
    &:hover {
      img {
        .opacity(0.9);
        .transform(scale(1.1));
      }
    }
    figure {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        .transition(all, 0.3s, ease-in-out);
      }
      figcaption {
        position: absolute;
        top: 30px;
        @media (min-width: 992px) {
          &.caption-1, &.caption-2, &.caption-4, &.caption-6 {
            left: 40px;
          }
          &.caption-3, &.caption-5 {
            right: 20px;
          }
          p {
            font-size: 16px;
            margin: 10px 0;
          }
          button {
            background-color: transparent;
          }
        }
        @media (max-width: 991px) {
          &.caption-1, &.caption-2, &.caption-4, &.caption-6 {
            left: 20px;
          }
          &.caption-3, &.caption-5 {
            text-align: right;
            right: 20px;
          }
          p {
            font-size: 15px;
            margin: 5px 0 10px;
          }
          button {
            background-color: rgba(255,255,255,0.5);
          }
        }
        @media (min-width: 768px) {
          &.caption-1 {
            top: 50%;
            margin-top: -84px;
          }
        }
        @media (min-width: 1200px) {
          h3 {
            font-size: 28px;
            line-height: 35px;
          }
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          h3 {
            font-size: 24px;
            line-height: 31px;
          }
        }
        @media (min-width: 768px) and (max-width: 991px) {
          h3 {
            font-size: 22px;
            line-height: 27px;
          }
        }
        @media (max-width: 767px) {
          &.caption-1 {
            top: 10px;
          }
          h3 {
            font-size: 18px;
          }
        }
        h3 {
          color: #252525;
          text-transform: uppercase;
        }
        p {
          color: #2d2d2d;
          font-size: 16px;
          font-weight: 300;
        }
        button {
          height: 32px;
          padding: 4px 16px;
          border-color: #8f318a;
          .border-radius(0);
          color: #8f318a;
          font-size: 16px;
          font-weight: 300;
          .transition(all, 0.3s, ease);
          &:hover {
            background-color: #8f318a;
            color: #fff;
          }
        }
      }
    }
  }
}

#product-page-news {
  padding: 30px 0;
  .news-item {
    margin: 0 0 20px;
    .news-box {
      position: relative;
      width: 100%;
      overflow: hidden;
      &:before {
        content: "";
        display: block;
        padding-top: 60%;
      }
      &:hover {
        .news-image {
          .opacity(0.9);
        }
      }
    }
    .news-image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      background: transparent no-repeat scroll center center / cover;
    }
    .news-caption {
      margin-top: 10px;
      h4 {
        color: #3a3a3a;
        font-weight: 600;
        text-align: center;
        overflow: hidden;
        @media (min-width: 992px) {
          height: 52px;
          font-size: 18px;
          line-height: 26px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          height: 48px;
          font-size: 14px;
          line-height: 24px;
        }
        @media (max-width: 767px) {
          height: 44px;
          font-size: 15px;
          line-height: 22px;
        }
      }
    }
  }
  .news-title-wrapper {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    &:after {
      content: '';
      position: absolute;
      bottom: 8px;
      left: 15px;
      right: 15px;
      width: 100%;
      border-bottom: 1px solid #ddd;
      .animation-custom(fadeIn 1s both 1s);
    }
  }
  .product-page-title {
    position: relative;
    background-color: #fff;
    padding: 0 20px;
    z-index: 10;
  }
  @media (min-width: 1200px) {
    .col-1 {
      padding-right: 40px;
    }
    .col-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .col-3 {
      padding-left: 40px;
    }
  }
}

.product-page-title {
  display: inline-block;
  color: #252525;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: 1200px) {
    font-size: 45px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: 42px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 36px;
  }
  @media (max-width: 767px) {
    font-size: 28px;
  }
  @media (max-width: 320px) {
    font-size: 24px;
  }
}

.testimonial-slide {
  position: relative;
  padding: 0 100px;
  margin: 30px 0;
  @media (min-width: 992px) {
    padding: 0 100px;
    margin: 30px 0;
  }
  @media (max-width: 991px) {
    margin: 15px 0 25px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 0 80px;
  }
  @media (max-width: 767px) {
    padding: 0 50px;
  }
  @media (max-width: 320px) {
    padding: 0 30px;
  }
  .testimonial-item {
    p {
      color: #454545;
      font-weight: 300;
      @media (min-width: 1200px) {
        font-size: 24px;
        margin: 20px 0;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 20px;
        margin: 20px 0;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 18px;
        margin: 15px 0;
      }
      @media (max-width: 767px) {
        font-size: 15px;
        margin: 10px 0;
      }
    }
    h5 {
      color: #454545;
      font-weight: 300;
      span {
        font-weight: 600;
      }
      @media (min-width: 992px) {
        font-size: 20px;
        line-height: 30px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 18px;
        line-height: 26px;
      }
      @media (max-width: 767px) {
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}

.testimonial-prev, .testimonial-next {
  position: absolute;
  top: 75px;
  display: inline-block;
  background: transparent no-repeat center center / 100% auto;
  @media (min-width: 992px) {
    width: 33px;
    height: 60px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    width: 28px;
    height: 50px;
  }
  @media (max-width: 767px) {
    width: 22px;
    height: 40px;
  }
}
.testimonial-prev {
  background-image: url("../images/product-landing/prev-icon.png");
  left: 0;
}
.testimonial-next {
  background-image: url("../images/product-landing/next-icon.png");
  right: 0;
}

.rating-symbol {
  display: inline-block;
  background: transparent no-repeat center center / 100% auto;
  @media (min-width: 768px) {
    width: 40px;
    height: 38px;
  }
  @media (max-width: 767px) {
    width: 32px;
    height: 30px;
  }
}
.symbol-filled {
  background-image: url("../images/product-landing/rated-star.png");
}
.symbol-empty {
  background-image: url("../images/product-landing/unrated-star.png");
}

.testimonial-modal {
  .modal-dialog {
    @media (min-width: 768px) {
      max-width: 800px;
      width: 100%;
    }
  }
  .modal-content {
    .border-radius(0);
  }
  .modal-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .x-top-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 10px;
      z-index: 100;
      background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#67327b), to(transparent));
      background-image: -webkit-linear-gradient(left, #67327b, transparent);
      background-image: -moz-linear-gradient(left, #67327b, transparent);
      background-image: -o-linear-gradient(left, #67327b, transparent);
    }
    .y-top-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 60%;
      z-index: 100;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#67327b), to(transparent));
      background-image: -webkit-linear-gradient(#67327b, transparent);
      background-image: -moz-linear-gradient(#67327b, transparent);
      background-image: -o-linear-gradient(#67327b, transparent);
      background-image: linear-gradient(#67327b, transparent);
    }
    .x-bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 60%;
      height: 10px;
      z-index: 100;
      background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#67327b));
      background-image: -webkit-linear-gradient(left, transparent, #67327b);
      background-image: -moz-linear-gradient(left, transparent, #67327b);
      background-image: -o-linear-gradient(left, transparent, #67327b);
    }
    .y-bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10px;
      height: 60%;
      z-index: 100;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#67327b));
      background-image: -webkit-linear-gradient(transparent, #67327b);
      background-image: -moz-linear-gradient(transparent, #67327b);
      background-image: -o-linear-gradient(transparent, #67327b);
      background-image: linear-gradient(transparent, #67327b);
    }
  }
  .close {
    position: absolute;
    color: #8f318a;
    .opacity(0.7);
    @media (min-width: 768px) {
      top: 20px;
      right: 30px;
      font-size: 40px;
    }
    @media (max-width: 767px) {
      top: 10px;
      right: 20px;
      font-size: 30px;
    }
    &:hover {
      .opacity(1);
    }
  }
  .modal-header, .modal-body, .modal-footer {
    position: relative;
    border: none;
    z-index: 100;
  }
  .modal-header {
    @media (min-width: 768px) {
      padding: 30px 80px 20px;
    }
  }
  .modal-body {
    @media (min-width: 768px) {
      padding: 0 65px;
    }
  }
  .modal-footer {
    text-align: center;
    button {
      @media (min-width: 768px) {
        font-size: 20px;
        margin-bottom: 30px;
      }
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }
  .modal-title {
    color: #252525;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
    @media (min-width: 768px) {
      font-size: 36px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
    }
  }
  .modal-divider {
    position: relative;
    width: 100%;
    text-align: center;
    .star-bar {
      position: relative;
      display: inline-block;
      min-width: 260px;
      background-color: #fff;
      padding: 0 30px;
      z-index: 10;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      border-bottom: 1px solid #ddd;
    }
  }
  .form-textarea {
    position: relative;
    textarea {
      height: auto;
      resize: vertical;
    }
    .note {
      position: absolute;
      right: 30px;
      bottom: 10px;
      font-size: 15px;
    }
  }
  .form-group {
    &:before, &:after {
      display: table;
      content: " ";
    }
    &:after {
      clear: both;
    }
  }
  .form-control {
    color: #8d8d8d !important;
    font-weight: 300;
    border-color: #ddd !important;
    box-shadow: none;
    &:focus {
      border-color: #8f318a !important;
    }
    @media (min-width: 768px) {
      height: 48px;
      font-size: 18px !important;
    }
    @media (max-width: 767px) {
      height: 40px;
      font-size: 15px !important;
    }
  }
  @media (max-width: 767px) {
    .form-input-1, .form-input-2 {
      > div {
        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
    .form-input-2 {
      margin-bottom: 0;
    }
  }
}

.testimonial-success-modal {
  .modal-content {
    .border-radius(0);
  }
  .modal-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    .x-top-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 10px;
      z-index: 100;
      background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#67327b), to(transparent));
      background-image: -webkit-linear-gradient(left, #67327b, transparent);
      background-image: -moz-linear-gradient(left, #67327b, transparent);
      background-image: -o-linear-gradient(left, #67327b, transparent);
    }
    .y-top-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 60%;
      z-index: 100;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#67327b), to(transparent));
      background-image: -webkit-linear-gradient(#67327b, transparent);
      background-image: -moz-linear-gradient(#67327b, transparent);
      background-image: -o-linear-gradient(#67327b, transparent);
      background-image: linear-gradient(#67327b, transparent);
    }
    .x-bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 60%;
      height: 10px;
      z-index: 100;
      background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#67327b));
      background-image: -webkit-linear-gradient(left, transparent, #67327b);
      background-image: -moz-linear-gradient(left, transparent, #67327b);
      background-image: -o-linear-gradient(left, transparent, #67327b);
    }
    .y-bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10px;
      height: 60%;
      z-index: 100;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#67327b));
      background-image: -webkit-linear-gradient(transparent, #67327b);
      background-image: -moz-linear-gradient(transparent, #67327b);
      background-image: -o-linear-gradient(transparent, #67327b);
      background-image: linear-gradient(transparent, #67327b);
    }
  }
  .close {
    position: absolute;
    color: #8f318a;
    .opacity(0.7);
    z-index: 100;
    @media (min-width: 768px) {
      top: 20px;
      right: 30px;
      font-size: 40px;
    }
    @media (max-width: 767px) {
      top: 10px;
      right: 20px;
      font-size: 30px;
    }
    &:hover {
      .opacity(1);
    }
  }
  .modal-header, .modal-body, .modal-footer {
    position: relative;
    border: none;
    z-index: 100;
  }
  .modal-footer {
    text-align: center;
    button {
      @media (min-width: 768px) {
        font-size: 20px;
        margin-bottom: 40px;
      }
      @media (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }
  .modal-body {
    img {
      margin: 10px auto 30px;
    }
    p {
      color: #8f318a;
      font-weight: 300;
      text-align: center;
      @media (min-width: 768px) {
        font-size: 20px;
      }
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}