.galaxy-select {
  .dropdown-toggle {
    width: 100%;
    text-transform: uppercase;
  }
  .dropdown-menu {
    right: 0;
  }
  .caret {
    position: absolute;
    right: 12px;
    top: 14px;
    border-top: 8px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
}

.galaxy-button {
  .gradient(#bf1411, #f16e18);
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: white;
  padding: 5px 15px;
  border: none;
  .box-shadow(-1px, 1px, 2px, 0.8);
  .transition(all, 0.3, ease-out);
  &:hover {
    .opacity(0.8);
  }
}