#support-page {
  .support-tab-wrapper {
    position: relative;
    padding: 0 0 50px 0;
    &:after {
      content: '';
      position: absolute;
      top: -37px;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid transparent;
    }
  }
  #paint-calculator:after {
    border-top-color: #934267;
    left: 15%;
  }
  #color-blender:after {
    border-top-color: #f07721;
    left: 49%;
  }
  #nearest-agency:after {
    border-top-color: #f4c622;
    right: 15%;
  }
  #paint-calculator {
    .galaxy-select {
      margin-bottom: 14px;
      .dropdown-toggle {
        height: 36px;
        padding: 8px 12px 8px 20px;
      }
    }
    .galaxy-input {
      height: 36px;
      border-color: #adb8c1;
      margin-bottom: 14px;
      padding: 8px 12px 8px 20px;
      box-shadow: none;
    }
  }
  .galaxy-line {
    margin-bottom: 30px;
    &:before {
      height: 5px;
    }
  }
  .support-title {
    position: relative;
    height: 36px;
    line-height: 36px;
    margin-bottom: 14px;
    &:before {
      content: '';
      position: absolute;
      top: 18px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid @main-color;
      z-index: -1;
    }
    h1 {
      font-size: 18px;
      padding-right: 40px;
    }
  }
  .btn-count {
    display: block;
    width: 100%;
    .gradient(#f4901e, #f6ea23);
    .border-radius(4px);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 14px;
    &:hover {
      .opacity(0.8);
    }
  }
  .support-image {
    width: 100%;
    .border-radius(8px);
  }
  .support-icon {
    display: inline-block;
    background: transparent no-repeat center center;
    margin-right: 10px;
    vertical-align: middle;
    background-size: 90%;
    &.location-icon {
      width: 16px;
      height: 25px;
      background-image: url('../images/icon/icon-location.png');
    }
    &.phone-icon {
      width: 14px;
      height: 22px;
      background-image: url('../images/icon/icon-phone.png');
    }
    + span {
      vertical-align: middle;
    }
  }
  .agency-list {
    h5 {
      margin-bottom: 10px;
    }
    p {
      line-height: 26px;
    }
    .agency-item {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 991px) {
    .support-tab-wrapper::after {
      border-left-width: 10px !important;
      border-right-width: 10px !important;
      border-top-width: 10px !important;
    }
  }
  @media (min-width: 1200px) {
    .media-left {
      width: 32%;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .media-left {
      width: 40%;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .media-left {
      width: 45%;
    }
  }
  @media (max-width: 767px) {
    .media-left {
      width: 40%;
    }
  }
}