.tab-header {
  height: auto;
  width: 100%;
  display: block;
  .gradient(#ffffff, #d2d4d5);
  .nav-tabs {
    border: none;
    display: block;
    margin: 25px 0 0;
    li {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 0;
      min-width: 180px;
      a {
        font-weight: 600;
        border: 0;
        margin-right: 0;
        color: #ffffff;
        text-align: center;
        background: @main-color;
        .transition(all, 0.3s, ease-out);
      }

      &:hover {
        a {
          border: 0;
          background: rgba(0, 0, 0, .1);
          color: #333333;
        }
      }

      &.active {
        position: relative;
        a {
          border: 0;
          background: #ffffff;
          color: #8393a1;
        }
      }
    }
    @media (max-width: 360px) {
      li{
        width: 100%;
        a{
          .border-radius(0);
        }
      }
    }
  }
  &.product-tab {
    .nav-tabs li {
      margin-right: 1%;
      min-width: 13%;
      @media (max-width: 768px) {
        margin-right: 0.5%;
        min-width: 11%;
      }
    }
  }
}

@media (min-width: 600px) {
  .tab-header .nav-dropdown {
    display: none;
  }
}

@media (max-width: 599px) {
  .tab-header .nav-tabs {
    display: none;
  }
  .tab-header .nav-dropdown {
    display: block;
  }
}

.nav-dropdown {
  margin: 15px 0;
  .dropdown-toggle {
    width: 100%;
    font-size: 13px;
    box-shadow: none;
    background-color: #fff;
    border-color: #adb8c1;
    text-align: left;
    &:hover, &:focus {
      box-shadow: none;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      position: absolute;
      right: 12px;
      top: 13px;
      border-top: 8px solid;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      vertical-align: middle;
    }
  }
  .selected-value {
    color: @main-color;
    font-weight: 600;
  }
  .dropdown-menu {
    right: 0;
    font-size: 13px;
    background-color: @main-color;
    li > a {
      color: #fff;
      font-weight: 600;
      padding: 7px 20px;
      &:hover {
        background-color: #636e79;
      }
    }
    .active > a , .active > a:hover, .active > a:focus {
      color: #fff;
      background-color: #636e79;
    }
  }
}

.tab-content {
  border: none;
}

.tab-inner {
  background-color: transparent;
  padding: 30px 0;
}

.tab-description {
  .tab-box {
    width: 100%;
    background-color: #f8f8f8;
    border: 1px solid #efefef;
    margin: 30px auto;
    padding: 15px;
  }
  .tab-title {
    position: relative;
    color: @main-color;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    &:after {
      content: '';
      position: absolute;
      top: 25px;
      left: 0;
      width: 50px;
      height: 4px;
      background-color: @main-color;
    }
  }
}