.tab-header {
  height: auto;
  width: 100%;
  display: block;
  .gradient(#ffffff, #d2d4d5);
  .nav-tabs {
    border: none;
    display: block;
    margin: 25px 0 0;
    li {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 0;
      min-width: 180px;
      a {
        font-weight: 600;
        border: 0;
        margin-right: 0;
        color: #ffffff;
        text-align: center;
        background: @main-color;
        .transition(all, 0.3s, ease-out);
      }

      &:hover {
        a {
          border: 0;
          background: rgba(0, 0, 0, .1);
          color: #333333;
        }
      }

      &.active {
        position: relative;
        a {
          border: 0;
          background: #ffffff;
          color: #8393a1;
        }
      }
    }
    @media (max-width: 360px) {
      li{
        width: 100%;
        a{
          .border-radius(0);
        }
      }
    }
  }
  &.product-tab {
    .nav-tabs li {
      margin-right: 1%;
      min-width: 13%;
    }
  }
}

.tab-content {
  background-color: #fff;
  border: none;
  border-top: 1px solid #eee;
}

.tab-inner {
  padding: 30px 0;
}

.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}