@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,800&subset=latin,vietnamese);
@base-font: 'Open Sans', sans-serif;
@import-font: 'iCielBambola', sans-serif;
@bold-font: 'Fester', sans-serif;
@landing-font: 'Bebas', sans-serif;
@main-color: #8b9aa7;
@text-color: #808082;
@bg-color: #fff;

@pink: #fcdbd9;
@pink-text: #bb949c;

@blue: #c5cddb;
@blue-text: #829ccb;

@orange: #fab436;
@orange-text: white;

@gray: #ebebed;

@color-1: #c72129;
@color-2: #f7c668;
@color-3: #8fa96d;
@color-4: #70cbb6;
@color-5: #9ce7e3;
@color-6: #6ca4c2;
@color-7: #906fa1;
@color-8: #ea7d99;
@color-9: #cd6a88;
@color-10: #ff91b3;

@dark-red-color : #ac1400;
@red-color : #e42c00;
@orange-color : #f46f0e;
@yellow-color : #fee902;
@green-color : #afcf66;
@dark-green-color : #039543;
@blue-color : #1c75b9;
@purple-color : #983fc4;
@dark-purple-color : #6b2c8a;
@dark-brown-color : #95a0a8;
@brown-color : #988279;
@dark-color : #585859;
@light-dark-color : #969ca1;
@light-color : #f3f3f3;